@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
.footer {
    font-family: "Nunito", sans-serif;
  position: relative;
  width: 100%;
  min-height: 505px;
 background-image: url("../images/footer-bg.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  overflow: hidden;
}

.footer-overlay {
  position: absolute;
  inset: 0;
  background: rgba(20, 32, 42, 0.45);
  z-index: 1;
}

.footer-container {
  position: relative;
  z-index: 2;
  max-width: 1300px;
  margin: 0 auto;
  padding: 50px 20px 20px;
}

.footer-top {
  display: grid;
  grid-template-columns: 2.1fr 0.9fr 0.9fr 1fr;
  gap: 58px;
  align-items: flex-start;
}

.footer-logo {
  width: 150px;
  height: 170px;
  display: block;
  margin-bottom: 8px;
}

.footer-brand p {
  font-size: 14px;
  line-height: 1.18;
  font-weight: 700;
  color: #f3f3f3;
}

.footer-col h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 24px;
}

.footer-col a,
.footer-col p {
  display: block;
  color: #f4f4f4;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.45;
  margin-bottom: 13px;
  font-weight: 400;
}

.footer-col a:hover {
  color: #fff;
}

.contact p {
  margin-bottom: 17px;
}

.footer-line {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.65);
  margin: 58px 0 38px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom p {
  font-size: 16px;
  color: #f2f2f2;
}

.footer-menu {
  display: flex;
  gap: 128px;
  align-items: center;
}

.footer-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}

.footer-menu a:hover {
  color: #dcdcdc;
}

/* Responsive */
@media (max-width: 992px) {
  .footer-container {
    padding: 80px 24px 40px;
  }

  .footer-top {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .footer-menu {
    gap: 45px;
  }
}

@media (max-width: 576px) {
  .footer {
    min-height: auto;
  }

  .footer-container {
    padding: 55px 20px 35px;
  }

  .footer-top {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .footer-logo {
    width: 160px;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
  }

  .footer-menu {
    gap: 25px;
    flex-wrap: wrap;
  }

  .footer-menu a {
    font-size: 17px;
  }
}